@model ScoreAnnouncementSoftware.Models.Entities.Exam


<h3 class="text-center">Kì thi:@Model.ExamName</h3>
<hr />
<div class="row justify-content-center align-items-center">
    <div class="col-md-6">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="ExamId" />
            <div class="form-group">
                <label asp-for="ExamCode" class="control-label"></label>
                <input asp-for="ExamCode" class="form-control" />
                <span asp-validation-for="ExamCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ExamName" class="control-label"></label>
                <input asp-for="ExamName" class="form-control" />
                <span asp-validation-for="ExamName" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CreatePerson" class="control-label"></label>
                <input asp-for="CreatePerson" class="form-control" />
                <span asp-validation-for="CreatePerson" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Note" class="control-label"></label>
                <input asp-for="Note" class="form-control" />
                <span asp-validation-for="Note" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Status" class="control-label"></label>
                <input asp-for="Status" class="form-control" />
                <span asp-validation-for="Status" class="text-danger"></span>
            </div>
            <div class=" d-flex mt-2 justify-content-start gap-5">
                <input type="submit" value="Lưu" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-danger">Hủy</a>
            </div>
        </form>
    </div>
</div>



@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
