@model IEnumerable<ScoreAnnouncementSoftware.Models.Entities.RequireForm>

@{
    ViewData["Title"] = "Index";
}
@{
    ViewData["Title"] = "Index";
}
<div class="d-flex justify-content-end">
    <a class="btn btn-success" asp-action="Download" asp-controller="RequireForm">Tải xuống đơn mẫu</a>
</div>
<div id="alertMessage" class="alert alert-light text-center" style="display: none;"></div>
<div class="file-upload">
    <form asp-action="Upload" method="post" enctype="multipart/form-data">
        <div class="image-upload-wrap" ondrop="dropHandler(event);" ondragover="dragOverHandler(event);"
            ondragleave="dragLeaveHandler(event);">
            <input class="file-upload-input" type="file" name="file" onchange="readURL(this);" />
            <div class="drag-text">
                <h3>Upload file</h3>
            </div>
        </div>
        <div class="file-upload-content" style="display: none;">

            <div class="image-title-wrap">
                <button type="button" onclick="removeUpload()" class="remove-image">Remove <span
                        class="image-title">Uploaded File</span></button>
            </div>
        </div>
        <button class="file-upload-btn mt-3" type="submit">Tải lên đơn yêu cầu cấp chứng nhận</button>
    </form>
</div>
