@model ScoreAnnouncementSoftware.Models.Entities.ConvertForm;
@{
    Layout = "_layoutAdmin";
}


<table class="table table-hover mt-5">
    <tbody>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p class="text-danger blink text-center">New!</p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p class="text-danger blink text-center">New!</p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p></p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p></p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p></p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p></p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
        <tr>
            <td>Nguyễn Văn A</td>
            <td>Yêu cầu chuyển đổi chứng chỉ ngoại ngữ</td>
            <td>
                <p></p>
            </td>
            <td>09/08/2024 14:20</td>
        </tr>
    </tbody>