<div class="d-flex justify-content-center align-items-center mt-5 ">
    <form asp-action="Search" method="post" class="w-75">
        <input class="form-control form-control-lg mb-3 w-100" type="search" name="searchQuery"
            placeholder="Nhập thông tin tra cứu..." aria-label="Search">
        <button class="btn btn-md btn-success w-20 " type="submit">Tra cứu</button>
    </form>
</div>
